.main {
  background-color: #003;
}

.main_div {
  width: 50%;
  height: 65px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main_nav {
  display: flex;
  justify-content: start;
}
.navLink {
  color: #fff;
  text-decoration: none;
}

.productwrapper {
  display: flex;
  margin: 100px 10px;
}
img {
  width: 200px;
  height: 200px;
  background-size: 100% 100%;
}
.card {
  margin: 30px;
}
.btn {
  padding: 5px 8px;
  background-color: #006;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all;
}
.cartWrapper {
  display: flex;
  justify-content: space-around;
}
